{
    "presets" : ["es2015", "react"],
    "plugins" : [
        "syntax-class-properties",
        "syntax-object-rest-spread",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-runtime",
        "react-hot-loader/babel" // this plugins adds additional code in each of our components which will register those components with react hot loader.
    ]
}